qdrant_client
streamlit
streamlit_echarts
requests
pydantic
chromadb==1.3.0
huggingface_hub
tqdm
python-dotenv
langchain_core
langchain_chroma
langchain-huggingface
apache-airflow[google]
fastembed
pandas
beautifulsoup4